/*------ Header Attributes -----*/
.title {
    font-family: 'Kaushan Script', cursive;
    color: white;
    margin-top: .35em;
}

.statement {
    color: firebrick;
    font-size: 25px;
    font-family: cursive;
    margin-bottom: 1em;
}

/*--------ABOUT text color---------*/
.col-md {
    color: white;
}

/*------EMAIL Section formatting------*/
.email {
    margin-top: 20px;
}

.contact_list {
    margin-bottom: 15px;
}

/*------LOCATION Section formatting------*/
.location {
    padding-top: 25px;
    text-align: center;
    margin-bottom: 20px;
}

/*--Our Location Formatting--*/

.locale {
    color: white;
    margin-bottom: 25px;
}

/*-----FOOTER formatting------*/
h3 {
    text-align: center;
    color: white;
}

.footer {
    text-align: center;
    margin-bottom: 15px;
}